.grid {
  font-size: 12px;
  font-family: 'monospace';
}

.grid--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.grid--cell {
  flex-basis: 8px;
  width: 8px;
  height: 12px;
}

.grid--cell__space-invader-1 {
  color: #ff4a50;
}

.grid--cell__space-invader-2 {
  color: #3bff5f;
}
